/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Now, let's apply it on an element */
body {
  font-family: system;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 10px;
  cursor: pointer;
}

a {
	text-decoration: none;
	color: #b0021b;
}

.nav{
	display: flex;
}

.active {
	font-weight: bold;
}

.row {
	display: flex;
	justify-content: space-around;
}
.column {
	display: flex;
	flex-direction: column;
	width: 500px;
	align-items: center;
}

.column input {
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.43);
    font-size: 16px;
    width: 80%;
}

.column label, .header {
	text-align: center;
	font-size: 30px;
	font-weight: 200;
}


.reset {
	border: none;
	background: transparent;
	color: #d0021b;
	display: block;
	width: 100%;
	text-align: center;
}

.reset:hover {
	cursor: pointer;
}
