/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Now, let's apply it on an element */
body {
  font-family: system;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 10px;
  cursor: pointer;
}

a {
	text-decoration: none;
	color: #b0021b;
}

.container {
		display: flex;
		flex-wrap: nowrap;
}